html, body {
    cursor: url('./../images/favicon.ico'), default;
}

nav {
    font-family: Roboto;
    background: #FFF;
}

nav .brand-logo {
    color: #9575CD;
    font-family: 'Monoton', cursive;
}

nav ul a {
    color: #9575CD;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'K2D', sans-serif;
}

ul:hover a:hover {
    background-color: #EDE7F6;
}

body {
    background: #EDE7F6;
}

.parallax-container {
  height: 623px;
  color: purple;
  font-family: 'Monoton', cursive;
  font-weight: bold;
}

#intro img {
    height: 200px;
}

#about {
    margin-top: 80px;
    font-family: 'K2D', sans-serif;
}

#about-photo img {
    max-height: 350px;
    border-radius: 5px;
}

#about-info span {
    font-size: 10pt;
    /*text-align: right;*/
}

#slime-container {
    background: #9575CD;
    font-family: 'K2D', sans-serif;
}

#slime {
    margin-top: 80px;
    color: #9575CD;
}

.page-footer {
    background: #FFF;
    font-family: 'K2D', sans-serif;
    color: #9575CD;
}

.contact-icons {
    width: 50px;
    height: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}